.container
     
    .row
    
        .col-md-8.col-md-offset-2
    
            h1.text-center Join the Hackathon X!
            p.lead.text-center Participate in a journey of exiting hacking and creating and meet new like minded people.

            hr
    .row

        .col-md-2.col-md-offset-2
            
            .profile-image
                .profile-image--placeholder Your image

        .col-md-4
            
            form
                
                .form-group
                    label Alias
                    input.form-control(type = 'text')
                
                .form-group 
                    label Name
                    input.form-control(type = 'text')
                
                .form-group
                    label Profession
                    select.form-control
                        option Developer
                        option Designer
                
                .form-group
                    label About You
                    textarea.form-control(rows = '4')
                
                .form-group
                    label Your Skillset
                    input.form-control(type = 'text')

                .form-group
                    label What you like
                    input.form-control(type = 'text')
                
                .checkbox
                    input(type = 'checkbox')
                    label I only want to show my alias and profession
                
                .form-group
                    input.btn.btn-primary.pull-right(
                        type = 'button'
                        value ='Sign up'
                    )

